# Projet spécialité Data-IA

# Analyse de données : l'industrie automobile et les changements climatiques

In [1]:
print("hello")

hello

Scrapper les données mondiales des ventes/émissions de CO2 des véhicules terrestre motorisés dans le monde, puis par continent, puis par pays de l'Europe, et pour une personne

# Scrapping des données mondiales

In [1]:
import requests # requêter sur le site
from bs4 import BeautifulSoup # parcourir le HTML
import pandas as pd # formatter les données/exporter en CSV

## Les ventes de véhicules, par années/pays/continent de 1999 à 2022

Nous avons trouvé le site de OICA. Une rubrique répertorie la production de véhicules motorisés dans le monde depuis 1999.

L'idée est donc de scraper ces données, dans la catégorie <b>production-statistics/{ANNÉE}-statistics</b>

Nous travaillerons depuis 2015

Problématique : le site sur lequel nous sommes tombés permet de récupérer les données en scrappant, ou en téléchargeant le format CSV. Les CSV permettent de connaitre les continents.
Mais la mise en page change souvent.

Pour les continents, un module Python existe, AWOC

# AWOC (test)

In [48]:
# Import the AWOC package.
import awoc

# Initialize the AWOC class.
my_world = awoc.AWOC()

# Let's retrieve the full list of nations of Europe.
countries_of_europe = my_world.get_countries_list_of('Europe')
print(countries_of_europe)
# It returns: [ 'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', and so on... ]

# We can get the whole country data as well.
italy_data = my_world.get_country_data('Italy')

print(my_world.get_continents())

['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey', 'Hungary', 'Iceland', 'Ireland', 'Isle of Man', 'Italy', 'Jersey', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Svalbard and Jan Mayen', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican']
[{'Continent Code': 'af', 'Continent Name': 'Africa'}, {'Continent Code': 'an', 'Continent Name': 'Antarctica'}, {'Continent Code': 'as', 'Continent Name': 'Asia'}, {'Continent Code': 'eu', 'Continent Name': 'Europe'}, {'Continent Code': 'na', 'Continent Name': 'North America'}, {'Continent Code': 'oc', 'Continent Name': 'Oceania'}, {'Continent Code': 'sa', 'Continent Name': 'South America'}]

In [ ]:
import pycountry_convert as pc

def get_continent(country_alpha2):
    try:
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except ValueError:
        return None

# Exemple d'utilisation
country_alpha2 = "US"  # Code ISO 3166-1 alpha-2 des États-Unis
continent = get_continent(country_alpha2)

if continent:
    print(f"Le continent de {country_alpha2} est {continent}.")
else:
    print(f"Impossible de déterminer le continent pour {country_alpha2}.")

In [9]:
# CTRL + '/' pour commenter plusieurs lignes à la fois

import datetime

def get_current_year() -> int: 
    """ 
    for automatisation of the dataset. In 2025, 
    the program will research for the 2025's web page
    """
    today = datetime.date.today()
    year = today.year
    print(year)

    return year

def scrape_page(soup: BeautifulSoup, world_production_list: list, start, end):
    table = soup.find("tbody")
    countries = table.find_all("tr")

    # print(countries)

    for country_tr in countries:
        country_name = country_tr.find("td", {"class": f"column-1"}).text
        nbr_cars = country_tr.find("td", {"class": f"column-2"}).text
        nbr_commercial_vehicle = country_tr.find("td", {"class": f"column-3"}).text
        total = country_tr.find("td", {"class": f"column-4"}).text
        percent_change = country_tr.find("td", {"class": f"column-5"}).text

        # print(country_tr)
        # print(country_name)

        dict = {
            'Year': '',
            'Country_Name': '',
            'Nbr_Cars': '',
            'Nbr_Commercial_Vehicle': '',
            'Total': '',
            'Percent_Change': ''
        }

        dict['Year'] = start
        dict["Country_Name"] = country_name
        dict["Nbr_Cars"] = nbr_cars
        dict["Nbr_Commercial_Vehicle"] = nbr_commercial_vehicle
        dict["Total"] = total
        dict["Percent_Change"] = percent_change

        world_production_list.append(dict)

    start += 1

    if start < end_year:
        print('Accès à la page suivante')
        next_url = f'{target}{start}-statistics'
        print(f"Next URL : {next_url}")
        req = requests.get(target +  next_url)
        next_soup = BeautifulSoup(req.text, "html.parser")
        scrape_page(next_soup, world_production_list, start, end)

    return 

begin_year = 2015
end_year = get_current_year() - 1

target = f'https://www.oica.net/category/production-statistics/'
# https://www.oica.net/category/production-statistics/2015-statistics/
req = requests.get(target + f'{begin_year}-statistics')

if req.status_code != 200:
    print("Erreur")
    exit(0)
else:
    print(f"Accès au site {target}, status = {req.status_code}")

soup = BeautifulSoup(req.text, "html.parser")

if __name__ == "__main__":
    print(f"Date de début {begin_year}; Date de fin : {end_year}")

    world_production_list = []
    # print(world_production_list)
    scrape_page(soup, world_production_list, begin_year, end_year)
    print(world_production_list)
    df = pd.DataFrame(world_production_list)
    print(df.head(10))
    # df.insert(0, 'ID', range(1, len(quote_list) +1))
    df.to_csv(f'word_car_production_{begin_year}_{end_year}.csv', index=False, sep=';')

2024
Accès au site https://www.oica.net/category/production-statistics/, status = 200
Date de début 2015; Date de fin : 2023
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2016-statistics
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2017-statistics
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2018-statistics
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2019-statistics
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2020-statistics
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2021-statistics
Accès à la page suivante
Next URL : https://www.oica.net/category/production-statistics/2022-statistics

# Amélioration du dataset

## Rajout des continents

Afin de réaliser notre storytelling, nous souhaitons faire une étude par pays, mais également pas continent et dans le monde. Il faut alors ajouter une colonne continent pour nos données

In [15]:
import pandas as pd
import pycountry_convert as pc

In [16]:
df = pd.read_csv("./word_car_production_2015_2023.csv", delimiter=";")

df.head()

,Year,Country_Name,Nbr_Cars,Nbr_Commercial_Vehicle,Total,Percent_Change
0,2015,Argentina,"308,756","224,927","533,683",-13.5%
1,2015,Australia,"159,872","13,137","173,009",-4.0%
2,2015,Austria,"109,000","16,500","125,500",-17.4%
3,2015,Belgium,"369,172","40,168","409,340",-20.8%
4,2015,Brazil,"2,018,954","410,509","2,429,463",-22.8%

In [11]:
df.columns

Index(['Year', 'Country_Name', 'Nbr_Cars', 'Nbr_Commercial_Vehicle', 'Total',
       'Percent_Change'],
      dtype='object')

Corriger les erreurs de noms de pays

In [63]:
# Correct format for Czech Republic
df['Country_Name'] = df['Country_Name'].replace('Czech Rep.', 'Czech Republic')

# Format correct for United Kingdom
df['Country_Name'] = df['Country_Name'].replace('UK', 'United Kingdom')

In [64]:
df.head(10)

,Year,Country_Name,Nbr_Cars,Nbr_Commercial_Vehicle,Total,Percent_Change,Continent
0,2015,Argentina,"308,756","224,927","533,683",-13.5%,South America
1,2015,Australia,"159,872","13,137","173,009",-4.0%,Oceania
2,2015,Austria,"109,000","16,500","125,500",-17.4%,Europe
3,2015,Belgium,"369,172","40,168","409,340",-20.8%,Europe
4,2015,Brazil,"2,018,954","410,509","2,429,463",-22.8%,South America
5,2015,Canada,"888,565","1,394,909","2,283,474",-4.6%,North America
6,2015,China,"21,079,427","3,423,899","24,503,326",3.3%,Asia
7,2015,Czech Republic,"1,298,236","5,367","1,303,603",4.2%,Europe
8,2015,Egypt,"12,000","24,000","36,000",-15.3%,Africa
9,2015,Finland,"69,000",53,"69,053",53.3%,Europe

In [70]:
def get_continent_code(row):
    try:
        if row.Country_Name.lower() == 'total':
            return 'Entire World'
        
        if row.Country_Name.lower() == 'others':
            return 'Other'
            
        country_alpha2 = pc.country_name_to_country_alpha2(row.Country_Name.title() if row.Country_Name != 'USA' else row.Country_Name, cn_name_format="default")
        # print(row.Country_Name)
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        
        return continent_name
    
    except (ValueError, KeyError, TypeError) as e:
        print(f"Erreur lors de la conversion pour {row.Country_Name}: {e}")
        return None

In [71]:
df['Continent'] = df.apply(get_continent_code, axis=1)

In [72]:
df.head(41)

,Year,Country_Name,Nbr_Cars,Nbr_Commercial_Vehicle,Total,Percent_Change,Continent
0,2015,Argentina,"308,756","224,927","533,683",-13.5%,South America
1,2015,Australia,"159,872","13,137","173,009",-4.0%,Oceania
2,2015,Austria,"109,000","16,500","125,500",-17.4%,Europe
3,2015,Belgium,"369,172","40,168","409,340",-20.8%,Europe
4,2015,Brazil,"2,018,954","410,509","2,429,463",-22.8%,South America
5,2015,Canada,"888,565","1,394,909","2,283,474",-4.6%,North America
6,2015,China,"21,079,427","3,423,899","24,503,326",3.3%,Asia
7,2015,Czech Republic,"1,298,236","5,367","1,303,603",4.2%,Europe
8,2015,Egypt,"12,000","24,000","36,000",-15.3%,Africa
9,2015,Finland,"69,000",53,"69,053",53.3%,Europe
10,2015,France,"1,553,800","416,200","1,970,000",8.2%,Europe
11,2015,Germany,"5,707,938","325,226","6,033,164",2.1%,Europe
12,2015,Hungary,"491,720","3,650","495,370",13.2%,Europe
13,2015,India,"3,378,063","747,681","4,125,744",7.3%,Asia
14,2015,Indonesia,"824,445","274,335","1,098,780",-15.4%,Asia
15,2015,Iran,"884,866","97,471","982,337",-9.9%,Asia
16,2015,Italy,"663,139","351,084","1,014,223",45.3%,Europe
17,2015,Japan,"7,830,722","1,447,516","9,278,238",-5.1%,Asia
18,2015,Malaysia,"558,324","56,347","614,671",3.3%,Asia
19,2015,Mexico,"1,968,054","1,597,415","3,565,469",5.9%,North America
20,2015,Netherlands,"41,870","2,252","44,122",40.4%,Europe
21,2015,Poland,"534,700","125,903","660,603",11.3%,Europe
22,2015,Portugal,"115,468","41,158","156,626",-3.0%,Europe
23,2015,Romania,"387,171",6,"387,177",-1.1%,Europe
24,2015,Russia,"1,214,849","169,550","1,384,399",-26.6%,Europe
25,2015,Serbia,"82,400","1,230","83,630",-18.9%,Europe
26,2015,Slovakia,"1,000,001",0,"1,000,001",3.0%,Europe
27,2015,Slovenia,"133,092",0,"133,092",12.2%,Europe
28,2015,South Africa,"341,025","274,633","615,658",8.8%,Africa
29,2015,South Korea,"4,135,108","420,849","4,555,957",0.7%,Asia
30,2015,Spain,"2,218,980","514,221","2,733,201",13.7%,Europe
31,2015,Sweden,"188,987",N.A.,"188,987",22.6%,Europe
32,2015,Taiwan,"298,418","52,667","351,085",-7.4%,Asia
33,2015,Thailand,"772,250","1,143,170","1,915,420",1.9%,Asia
34,2015,Turkey,"791,027","567,769","1,358,796",16.1%,Asia
35,2015,Ukraine,"5,654","2,590","8,244",-71.3%,Europe
36,2015,United Kingdom,"1,587,677","94,479","1,682,156",5.2%,Europe
37,2015,USA,"4,163,679","7,936,416","12,100,095",3.8%,North America
38,2015,Uzbekistan,"185,400",0,"185,400",-24.5%,Asia
39,2015,Others,"693,817","138,866","832,683",19.1%,Other
40,2015,Total,"68,539,516","22,241,067","90,780,583",1.1%,Entire World

In [20]:
import pycountry_convert as pc

def get_continent(country_name):
    try:
        # Convertir le nom du pays en code ISO 3166-1 alpha-2
        country_alpha2 = pc.country_name_to_country_alpha2(country_name, cn_name_format="default")
        
        # Obtenir le continent à partir du code alpha-2
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        
        return continent_name
    except (ValueError, KeyError):
        return None

# Exemple d'utilisation pour le Brésil
country_name = "Czech Republic"
country_name = country_name.title()
print(country_name.title())
continent = get_continent(country_name)

if continent:
    print(f"Le continent de {country_name} est {continent}.")
else:
    print(f"Impossible de déterminer le continent pour {country_name}.")

Czech Republic
Le continent de Czech Republic est Europe.

c:\Python310\lib\site-packages\pycountry\db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
c:\Python310\lib\site-packages\pycountry\db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)